@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
<link href="~/css/nice-select.css" rel="stylesheet" />
   
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Checkout</h1>
                <div class="breadcroumb_link">
                    <a href="index.html">Home </a>/ Checkout
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!--Checkout page Start-->
<div class="checkout_page_area">
    <div class="container">
        <div class="row checkout_top_area">
            <div class="col-12">
                <div class="single_checkout_top">
                    <span>Phản hồi khách hàng?</span> <a href="#" class="float-right">Click vào đây để đăng nhập</a>
                </div>
                <div class="single_checkout_top">
                    <span>Có phiếu giảm giá? </span> <a href="#" class="float-right">Click vào đay để nhập mã của bạn</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-lg-8">
                <div class="checkout_form_wraper">
                    <h3>Chi tiết thanh toán</h3>
                    <form action="#" class="checkout_form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Họ">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Tên">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Tên công ty của bạn">
                            </div>
                            <div class="col-md-12">
                                <select>
                                    <option value="Việt Nam">Việt Nam</option>
                                    <option value="Việt Nam">Việt Nam</option>
                                    <option value="United State">United State</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                    <option value="france">france</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Địa chỉ">
                            </div>
                            <div class="col-md-12">
                                <input type="text">
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Huyện / Thành phố">
                            </div>
                            <div class="col-md-12">
                                <select>
                                    <option value="Country">Long An</option>
                                    <option value="Dhaka">TPHCM</option>
                                    <option value="Rajsahi">Đà Nẵng</option>
                                    <option value="Sylhet">Lâm Đồng</option>
                                    <option value="Khulna">Nghệ An</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Postcode / ZIP">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Số điện thoại">
                            </div>
                            <div class="col-md-6">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <label>
                                    <input type="checkbox">Tạo tài khoản?
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="additional_inf">
                    <h3>Thông tin thêm</h3>
                    <span>Ghi chú đặt hàng</span>
                    <span>Ghi chú về đơn đặt hàng của bạn, ví dụ: ghi chú đặc biệt để giao hàng</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="total_order_bar">
                    <h3>Đơn hàng của bạn</h3>
                    <ul class="total_order">
                        <li><span class="item_name">Thành phần của sản phẩm chăm sóc da</span><span class="float-right">$120.00</span></li>
                        <li><span class="item_name">Thành phần của sản phẩm chăm sóc da</span><span class="float-right">$120.00</span></li>
                        <li><strong class="total_title">ĐĂNG KÝ</strong><strong class="float-right">$240.00</strong></li>
                        <li><strong class="total_title">TỔNG</strong><strong class="float-right">$240.00</strong></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="#" class="payment_method_area">
                    <fieldset id="payment_group">
                        <div class="payment_1">
                            <label for="payment1">
                                <input id="payment1" class="payment1" type="radio" name="payment_group"> Check Payment
                                <span class="payment1_content">Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span>
                            </label>
                        </div>
                        <div class="paypal">
                            <label for="paypal">
                                <input id="paypal" type="radio" name="payment_group">PayPal
                            </label>
                            <a href="#"><img src="~/images/img/paypal.png" alt=""> What is PayPal?</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-12">
                <a href="#" class="custom_btn">Đặt hàng</a>
            </div>
        </div>
    </div>
</div>


@section scripts {

}