
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {


}


<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Liên hệ</h1>
                <div class="breadcroumb_link">
                    <a href="index.html">Trang chủ </a>/ Liên hệ
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact_page_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 offset-md-1 order-md-8">
                <div class="contact_inf_area">
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="~/images/img/contact_icon1.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Đương dây nóng</h5>
                            <span>Gọi miễn phí 24/7</span>
                            <a href="#">(086) 466-6666</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="~/images/img/contact_icon2.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Đương dây nóng</h5>
                            <a href="#">(086) 466-6666</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="~/images/img/contact_icon3.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Đương dây nóng</h5>
                            <a href="#">(086) 466-6666</a>
                        </div>
                    </div>
                    <div class="single_contact_inf">
                        <div class="contact_icon"><img src="~/images/img/contact_icon4.png" alt=""></div>
                        <div class="ccontact_inf_content">
                            <h5>Email</h5>
                            <a href="#">qdymd@gmail.com</a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-8 col-md-6">
                <form action="#" class="contact_form">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <input type="text" placeholder="Tên của bạn">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <input type="email" placeholder="Email">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <input type="number" placeholder="Số điện thoại">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"><textarea placeholder="Nhập nội dung"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="custom_btn">Xem thêm  <i class="zmdi zmdi-plus"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section scripts {
  <script>
    function change() {
        var value = $("#color").val();
        $("#cap")
                .toggleClass("black-cap", value == 1)
                .toggleClass("orange-cap", value == 2)
                .toggleClass("grey-cap", value == 3);
    };

  
</script>


}