@model Hospital.Web.EfModels.DanhMucBacSi
@using Hospital.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TenBacSi</h1>               
            </div>
        </div>
    </div>
</div>
<div class="doctor_details_area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="doctor_profile">
                    <img src="~/images/img/doctor_details1.jpg" alt="">
                    <h5>@Model.TenBacSi</h5>
                    <span>Phòng khám phụ khoa, Phòng khám nhi khoa</span>
                    <ul class="doctor_data">
                        <li>
                            <h4>Chuyên khoa :</h4> Sản phụ khoa
                        </li>
                        <li>
                            <h4>Trình độ :</h4> Thạc sĩ y khoa
                        </li>
                        <li>
                            <h4>Kinh nghiệm :</h4>25 năm kinh nghiệm trong ngành y
                        </li>
                        <li>
                            <h4>Thời gian làm việc :</h4>Thứ Hai, Thứ Tư, Thứ Năm
                        </li>
                    </ul>
                    <div class="doct0r_contact">
                        <div class="single_contact">
                            <strong>Phone :</strong>
                            <a href="#">(086) 376-4111</a>
                        </div>
                        <div class="single_contact">
                            <strong>Email :</strong>
                            <a href="#">BsNVV@gmail.com</a>
                        </div>
                    </div>
                    <div class="social_cion">
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="#"><i class="zmdi zmdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="doctor_history">
                    <div class="single_doctor_history">
                        <h2>Nguyễn Văn Vân</h2>
                        <p>Sinh viên tại Đại học Quốc gia Úc và là tác giả chính của một bài báo được đăng trên tạp chí Nature vào thứ Tư có thể giữ câu trả lời. Ông Jones và các đồng nghiệp của ông đã phát triển một mô hình mô phỏng những gì mà xảy ra ở hành tinh của chúng ta, lớp vỏ ngoài của chúng ta tạo ra lớp vỏ mà chúng ta đang sống, cung cấp một cửa sổ ở trung tâm.</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Đơn vị công tác</h2>
                        <h5>08/2010 đến 08/2011</h5>
                        <p>Sinh viên tại Đại học Quốc gia Úc và là tác giả chính của một bài báo được đăng trên tạp chí Nature vào thứ Tư có thể giữ câu trả lời. Ông Jones và các đồng nghiệp của ông đã phát triển một mô hình mô phỏng những gì mà xảy ra ở hành tinh của chúng ta, lớp vỏ ngoài của chúng ta tạo ra lớp vỏ mà chúng ta đang sống, cung cấp một cửa sổ ở trung tâm.</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Đơn vị công tác</h2>
                        <h5>08/2010 đến 08/2011</h5>
                        <p>Sinh viên tại Đại học Quốc gia Úc và là tác giả chính của một bài báo được đăng trên tạp chí Nature vào thứ Tư có thể giữ câu trả lời. Ông Jones và các đồng nghiệp của ông đã phát triển một mô hình mô phỏng những gì mà xảy ra ở hành tinh của chúng ta, lớp vỏ ngoài của chúng ta tạo ra lớp vỏ mà chúng ta đang sống, cung cấp một cửa sổ ở trung tâm.</p>
                    </div>
                    <div class="single_doctor_history">
                        <h2>Đơn vị công tác</h2>
                        <h5>08/2010 đến 08/2011</h5>
                        <p>Sinh viên tại Đại học Quốc gia Úc và là tác giả chính của một bài báo được đăng trên tạp chí Nature vào thứ Tư có thể giữ câu trả lời. Ông Jones và các đồng nghiệp của ông đã phát triển một mô hình mô phỏng những gì mà xảy ra ở hành tinh của chúng ta, lớp vỏ ngoài của chúng ta tạo ra lớp vỏ mà chúng ta đang sống, cung cấp một cửa sổ ở trung tâm.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

}